In [1]:
import sqlite3 as sql

In [2]:
# Cria o Banco de Dados
con = sql.connect(R'C:\Users\Mateus Joter\Desktop\Aprender\DATABASES\emaildb.sqlite')

In [3]:
# Cria o Cursor do Banco de Dados
cur = con.cursor()

In [4]:
# Cria as tabelas usando CREATE TABLE chamado por cur.execute
cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

In [5]:
# Dá para cosultar se a tabela foi criada consultando o sqlite_master e devolvendo com .fetchone():
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('Counts',)

In [6]:
# Tambem dá para analisar a tabela criada, segue-se:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

In [7]:
# Imbutindo valores com INSERT INTO:
fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
    org = email.split('@')[1]
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (org,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count)
                VALUES (?, 1)''', (org,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',
                    (org,))

Enter file name:

In [8]:
# INSERT inicia implicitamente a transação, que deve ser confirmada com .commit() no objeto de conexão após as alterações
con.commit()

# Nota: Presta atenção, depois do commit, JÁ ERA.

In [9]:
# Analisando a tabela e devolvendo com .fetchall()
res = cur.execute("SELECT org FROM Counts")
res.fetchall()

[('uct.ac.za',),
 ('media.berkeley.edu',),
 ('umich.edu',),
 ('iupui.edu',),
 ('caret.cam.ac.uk',),
 ('gmail.com',),
 ('indiana.edu',),
 ('et.gatech.edu',),
 ('vt.edu',),
 ('lancaster.ac.uk',),
 ('ucdavis.edu',),
 ('ufp.pt',),
 ('txstate.edu',),
 ('stanford.edu',),
 ('whitman.edu',),
 ('rsmart.com',),
 ('fhda.edu',),
 ('bu.edu',),
 ('unicon.net',),
 ('loi.nl',),
 ('utoronto.ca',)]