In [3]:
import sqlite3 as sql

In [8]:
# Cria o Banco de Dados
con = sql.connect(R'C:\Users\Mateus Joter\Desktop\Mateus Joter\Aglomerado\Bolsa2\ESTUDO DATABASE + PYTHON\DATABASES\aprendendo.sqlite')

In [9]:
# Cria o Cursor do Banco de Dados
cur = con.cursor()

In [17]:
# Cria as tabelas usando CREATE TABLE chamado por cur.execute
cur.execute("CREATE TABLE movies(title, year, score)")

OperationalError: table movies already exists

In [16]:
# Dá para cosultar se a tabela foi criada consultando o sqlite_master e devolvendo com .fetchone():
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('movies',)

In [20]:
# Tambem dá para analisar a tabela criada, segue-se:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

In [21]:
# Imbutindo valores com INSERT INTO:
cur.execute("""INSERT INTO movies VALUES
            ('Monty Python and the Holy Grail', 1975, 8.2),
            ('And Now for Something Completely Different', 1971, 7.5)
            """)

In [23]:
# INSERT inicia implicitamente a transação, que deve ser confirmada com .commit() no objeto de conexão após as alterações
con.commit()

# Nota: Presta atenção, depois do commit, JÁ ERA.

In [27]:
# Analisando a tabela e devolvendo com .fetchall()
res = cur.execute("SELECT * FROM movies")
res.fetchall()

[('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5)]